---
    import '../styles/main.project.css'
    import blogImg from '../assets/images/blog.png'
    import loginImg from '../assets/images/login.png'
    import davwordImg from '../assets/images/davword.png'
    const mapProjectsa = [{
        name: "Blog",
        description: "Blog creado con para poder compartir con otros usuarios y con la comunidad de desarrolladores de la web, como poder llegar solucionar algunos errores que se presentan en la web.",
        technologies: ['Strapi', 'React', "Graphql", 'Apollo Server', 'Styeled Componets'],
        image: blogImg,
        link: 'https://dblogv1strapi.netlify.app',
        code :'https://github.com/itsDavidev/Dblogv1'
    },
    {
        name: "DavWord",
        description: "Es una aplicacion web insipirado en el juego WORDLE, que se hizo muy popular durante una epoca ",
        technologies: ['Web Components', 'JavaScript', "css"],
        image: davwordImg,
        link: '',
        code:'https://github.com/itsDavidev/DavWordle',
    },
    {
        name: "Login Web3",
        description: "Login que utiliza web 3 para poder interactuar con la blockchain de ethereum, atravez de un wallet de metamask",
        technologies: ['Ethers', 'React', "styled components", 'TypeScript'],
        image: loginImg ,
        link: 'https://loginweb3.netlify.app',
        code:'https://github.com/itsDavidev/web3Login',
    }]
---

<section class="mainProjects">
    <h2 class="subTitle">Projects</h2>
    {
        mapProjectsa.map(project =>(
               <article class="project">
                    <div class="project__description">
                        <h3 class="project__description--title">
                        {project.name}
                        </h3>
                        <p>{project.description}</p>
                        <div class="project__description--btns">
                            <a href={project.code} target="_blank" class="btn">Codigo</a>
                            {
                                project.link !== '' &&
                                <a href={project.link} target="_blank" class="btn">Visitar</a> 
                            }
                        </div>
                    </div>
                    <figure class="project__view">
                        <img src={project.image} alt={project.name} class="project__view--image">
                        <div class="project__view--technologies">
                        {project.technologies.map(tech => <p class="tech">{tech}</p>)}
                        </div>
                    </figure>
               </article>
        ))
    }
</section>